@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Quicksand:wght@500;700&display=swap');


:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  font-family: 'Poppins', sans-serif; 
  line-height: 1.1;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgba(115, 147, 126, 1);
  color: #000;
  font-family: 'Quicksand';
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #FFC000;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.profile-footer {
  text-align: center;
  position: fixed;
  inset: auto 0 0 0;
  padding: 1em;
  background-color: #ffffff;
}

.mx-3 {
  min-height: 100vh;
}

a.nav-link  {
  color: #483948;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

a.nav-link:hover {
  color: #73937e;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

a.nav-link.active {
  color: #73937e;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid #73937e;
}
a:hover {
  color: #73937e;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #73937e;
  }

  button {
    background-color: #f9f9f9;
  }
}

.resumeButton {
  background-color:#585563;
  color: #efefdf;
}
.aboutImage {
  display: flex;
  justify-content: center;
}
.portfolio-main {
  background-color: #73937e; 
  padding: 60px;
  padding-bottom: 160px; 
  max-width: 1440px
}
.aboutContainer {
  padding-top: 20px;
}
.resumeBlurbs {
  display: flex;
}
.resumeSidebar {
  border-left: 2px solid #483948;
}
h2 {
  color: #000000;
}
.form {
  display: flex; 
  flex-direction: column; 
  margin: auto; 
  max-width: 400px;
  padding-top: 60px;;
}
input {
  height: 40px;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
textarea {
  height: 100px;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.formDiv {
  max-width: 600px;
}
.formButton {
  background-color:#585563;
  color: #efefdf;
  padding:6px 30px;
  margin: auto;
  border-radius: 20px;
}
.portfolio-card-div {
  padding-top: 20px;
}
.portfolio-card-row {
  padding-bottom: 60px;
  padding-top: 20px;
}
.card-text {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 1.15;
}
.card {
  border: 0px solid #ffffff;
  box-shadow: 2px 15px 15px 6px rgba(20,20,20,0.3);
  width: 18rem;
}
@media only screen and (max-width: 800px) {
  .aboutImage {
    padding-bottom: 30px;
  }
  .portfolio-main {
    padding: 0px; 
    padding-top: 20px;
    padding-bottom:150px;
  }
  .resumeSidebar {
    border-left: 0px solid #483948;
  }
  .mobile-card {
    padding: 10px;
    display: flex;
    justify-content: center;
    min-width: 18em;
  }
  .nav {
    justify-content: space-around;
  }
}